@use '/src/styles/global/_vars' as v;

.footer {
  position: relative;

  padding-top: 30px;
  padding-bottom: 32px;

  background-color: v.$black-brown;
}

.footer__wrapper {
  display: flex;

  align-items: center;
  justify-content: center;
}

.footer__copyright {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;

  display: flex;

  flex-direction: column;

  row-gap: 3px;
  align-items: center;
  justify-content: center;

  padding-top: 15px;
  padding-bottom: 14px;

  background-color: v.$blue-gray;
}

.footer__copyright-text {
  margin: 0;

  font-family: var(--second-family);
  font-size: 10px;
  font-weight: 400;

  color: v.$platinum;
}

.footer__additional {
  display: none;
}

.footer__socials-text {
  margin: 0;
  margin-bottom: 8px;

  font-size: 16px;
  font-weight: 400;

  line-height: 137%;

  color: v.$very-pale-blue;
}

.footer__list {
  display: flex;

  flex-wrap: wrap;

  gap: 20px;
  justify-content: center;
}

.footer__list-link {
  display: block;

  font-size: 0;

  line-height: 0;

  text-decoration: none;

  outline: none;

  svg {
    transition: fill 0.3s;
  }

  &:focus-visible svg {
    fill: v.$pearlescent-orange;
  }

  &:hover svg {
    fill: v.$orange-crayola;
  }

  &:active svg {
    fill: v.$titian;
  }
}

.footer__socials-icon {
  fill: v.$very-pale-blue;
}

@media (min-width: v.$pre-tablet-width) {
  .footer {
    padding-top: 16px;
    padding-bottom: 13px;
  }

  .footer__wrapper {
    column-gap: 30px;
    justify-content: space-between;
  }

  .footer__copyright {
    position: relative;
    top: unset;
    right: unset;
    left: unset;

    row-gap: 4px;
    align-items: flex-start;

    background-color: transparent;
  }

  .footer__copyright-text {
    font-size: 14px;
  }
}

@media (min-width: v.$tablet-large) {
  .footer__wrapper {
    display: grid;

    grid-template-columns: 342px 372px 188px;
  }

  .footer__additional {
    display: block;

    padding-top: 4px;
    margin: 0;

    font-size: 16px;
    font-weight: 400;

    line-height: 137%;

    color: v.$very-pale-blue;
  }

  .footer__socials {
    justify-self: end;
  }
}

@media (min-width: v.$desktop-width) {
  .footer__wrapper {
    grid-template-columns: repeat(12, 1fr);
  }

  .footer__copyright {
    grid-column: 1 / 4;
  }

  .footer__additional {
    grid-column: 5 / 9;
  }

  .footer__socials {
    grid-column: 10 / 13;
  }
}
