@use '/src/styles/global/_vars' as v;

.page-main {
  display: flex;

  flex-direction: column;

  row-gap: 50px;

  padding-top: 75px;
  margin-bottom: 50px;
}

@media (min-width: v.$pre-tablet-width) {
  .page-main {
    padding-top: 81px;
  }
}

@media (min-width: v.$tablet-width) {
  .page-main {
    row-gap: 68px;

    margin-bottom: 68px;
  }
}

@media (min-width: v.$tablet-large) {
  .page-main {
    padding-top: 34px;
  }
}

@media (min-width: v.$desktop-width) {
  .page-main {
    padding-top: 41px;
  }
}
