{{#> "layouts/main.hbs" title="Фотостудия High pass"}}
<main class="page-main">
  <h1 class="visually-hidden">Главня страница Фотостудии High pass</h1>

  {{> "components/intro/intro.hbs" }}

  {{> "components/about.hbs" }}

  {{> "components/projects/projects.hbs" }}

  {{> "components/contacts/contacts.hbs" }}
</main>
{{/"layouts/main.hbs"}}
