@use '/src/styles/global/_vars' as v;

.intro__columns {
  display: grid;

  grid-template-rows: 422px 1fr;
  grid-template-columns: 1fr;

  row-gap: 34px;
}

.intro__column-left {
  color: v.$white;
}

@media (min-width: v.$pre-tablet-width) {
  .intro__columns {
    grid-template-columns: 1fr 1fr;

    column-gap: v.$gap;
  }
}

@media (min-width: v.$tablet-width) {
  .intro__columns {
    grid-template-rows: 452px;
  }
}

@media (min-width: v.$tablet-large) {
  .intro__columns {
    grid-template-rows: 623px;
  }
}

@media (min-width: v.$desktop-width) {
  .intro__columns {
    grid-template-rows: 630px;
  }
}
