<footer class="footer">
  <div class="footer__wrapper container">
    <div class="footer__copyright">
      <a class="footer__logo-link logo-link" href="index.html">
        <img class="footer__logo-img logo-link" src="img/logo.svg" width="112" height="18" alt="логотип фотостудии High pass" />
      </a>

      <p class="footer__copyright-text">Фотостудия High pass® 2018–2020</p>
    </div>

    <p class="footer__additional">
      Которая из&nbsp;моих фотографий самая любимая? <br />Та, которую я&nbsp;собираюсь снять завтра.<br />
      &copy;&nbsp;Имоджен Каннингем
    </p>

    <div class="footer__socials">
      <p class="footer__socials-text">Больше интересного:</p>

      <ul class="footer__list list-reset">
        <li class="footer__list-item">
          <a class="footer__list-link" href="#" aria-label="Ссылка на Odnoklassniki">
            <svg class="footer__socials-icon" width="30" height="30" aria-hidden="true">
              <use xlink:href="img/icons/sprite.svg#icon-ok"></use>
            </svg>
          </a>
        </li>

        <li class="footer__list-item">
          <a class="footer__list-link" href="#" aria-label="Ссылка на Vk">
            <svg class="footer__socials-icon" width="30" height="30" aria-hidden="true">
              <use xlink:href="img/icons/sprite.svg#icon-vk"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
