<header class="header">
  <div class="header__wrapper container">
    <a class="header__logo-link logo-link" href="index.html">
      <img class="header__logo-img logo-img" src="img/logo.svg" width="112" height="18" alt="логотип фотостудии High pass" />
    </a>

    <div class="header__menu-control">
      <div class="container">
        <button class="header__nav-btn" type="button" aria-label="Открыть меню"></button>
      </div>
    </div>

    <nav class="header__nav">
      <div class="header__nav-wrapper container">
        <ul class="header__nav-list list-reset">
          <li class="header__nav-item">
            <a class="header__nav-link" href="#">О студии</a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="works">Наши проекты</a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="#">Услуги</a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="#">Мастер-классы</a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="#">Контакты</a>
          </li>
        </ul>

        <a class="header__nav-contact contact-phone" href="tel:+749542423532">+7 495 424-23-532</a>
      </div>
    </nav>

    <div class="header__search">
      <button class="header__search-btn" type="button">
        <svg class="header__search-icon" width="20" height="20" aria-hidden="true">
          <use xlink:href="img/icons/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
