<section class="intro">
  <h2 class="visually-hidden">Промо блок</h2>

  <div class="container">
    <div class="intro__columns">
      <div class="intro__column-left">
        {{> "components/intro/promo.hbs" }}
      </div>
      <div class="intro__column-right">
        {{> "components/intro/members.hbs" }}
      </div>
    </div>
  </div>
</section>
