<article class="members">
  <h3 class="members__title">Работы участников предыдущего мастер-класса</h3>

  <ul class="members__gallery list-reset">
    <li class="members__item">
      <picture>
        <source srcset="img/member-photo-2.webp 1x, img/member-photo-2@2x.webp 2x" type="image/webp" />
        <img
          class="members__img"
          src="img/member-photo-2.jpg"
          srcset="img/member-photo-2@2x.jpg 2x"
          width="278"
          height="186"
          alt="Работа участника мастер-класса"
        />
      </picture>
    </li>

    <li class="members__item">
      <picture>
        <source srcset="img/member-photo-3.webp 1x, img/member-photo-3@2x.webp 2x" type="image/webp" />
        <img
          class="members__img"
          src="img/member-photo-3.jpg"
          srcset="img/member-photo-3@2x.jpg 2x"
          width="124"
          height="105"
          alt="Работа участника мастер-класса"
        />
      </picture>
    </li>

    <li class="members__item">
      <picture>
        <source srcset="img/member-photo-4.webp 1x, img/member-photo-4@2x.webp 2x" type="image/webp" />
        <img
          class="members__img"
          src="img/member-photo-4.jpg"
          srcset="img/member-photo-4@2x.jpg 2x"
          width="124"
          height="105"
          alt="Работа участника мастер-класса"
        />
      </picture>
    </li>
  </ul>
</article>
