<article class="promo" data-badge="#мастеркласс">
  <div class="promo__info">
    <h3 class="promo__title">Мастер-класс от Игоря Робова</h3>

    <p class="promo__text">Неоновый фотосет&nbsp;2.0 7&nbsp;июля&nbsp;20:00</p>
    <a class="promo__link btn-primary" href="#">Узнать больше</a>
  </div>

  <picture>
    <source srcset="img/member-photo-1.webp 1x, img/member-photo-1@2x.webp 2x" type="image/webp" />
    <img
      class="promo__img"
      src="img/member-photo-1.jpg"
      srcset="img/member-photo-1@2x.jpg 2x"
      width="278"
      height="422"
      alt="Фотоаппарат в руке сквозь облако дыма"
    />
  </picture>
</article>
