<form class="contact-form contacts__form" action="#">
  <h3 class="contact-form__title">Оставить заявку</h3>

  <p class="contact-form__intro">
    Оставьте ваши данные, указав в&nbsp;графе &laquo;Комментарий&raquo; желаемые время и&nbsp;дату съёмки или&nbsp;другого мероприятия
  </p>

  <fieldset class="contact-form__fieldset form-fieldset">
    <legend class="visually-hidden">Укажите ваше Имя, Email и Комментарий</legend>

    <label class="visually-hidden" for="fname">Имя</label>
    <input class="form-input" type="text" id="fname" name="fname" placeholder="Имя" />

    <label class="visually-hidden" for="cemail">Email</label>
    <input class="form-input" type="email" id="cemail" name="cemail" placeholder="Email" />

    <label class="visually-hidden" for="message">Комментарий</label>
    <textarea class="contact-form__textarea form-input" name="message" id="message" placeholder="Комментарий"></textarea>

    <button class="contact-form__button btn-primary" type="submit">Отправить</button>
  </fieldset>
</form>
