<div class="map">
  <picture>
    <source srcset="img/map.webp 1x, img/map@2x.webp 2x" type="image/webp" />
    <img class="map__img" src="img/map.jpg" srcset="img/map.jpg 2x" width="320" height="472" alt="Схема проезда" />
  </picture>

  <div class="map__contacts">
    <div class="map__contacts-wrapper">
      <button class="map__btn-close" type="button" aria-label="Закрыть информацию об адресе"></button>

      <div class="map__contacts-info">
        <h3 class="map__title">Студия «High pass»</h3>

        <address class="map__address">
          107045,&nbsp;Москва, Даев&nbsp;переулок,<br />
          дом&nbsp;41, бизнес&#8209;центр «Даев&nbsp;Плаза», этаж&nbsp;8, офис&nbsp;№&nbsp;82

          <a class="map__contact contact-phone" href="tel:+749542423532">+7 495 424-23-532</a>
        </address>
      </div>
    </div>
  </div>
</div>
